.series {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.series_title {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.series_list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1025px) {
    .series {
        gap: 30px;
    }
    .series_title {
        font-size: 32px;
    }

    .series_list {
        gap: 30px;
    }
}

@media screen and (max-width: 769px) {
    .series {
        padding: 0 24px;
        gap: 24px;
    }
    .series_title {
        font-size: 32px;
    }

    .series_list {
        gap: 30px;
    }
}

@media screen and (max-width: 426px) {
    .series {
        padding: 0 16px;
        gap: 20px;
    }
    .series_title {
        font-size: 20px;
    }

    .series_list {
        gap: 20px;
    }
}

@media screen and (max-width: 376px) {
    .series {
        padding: 0 16px;
        gap: 20px;
    }
    .series_title {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .series {
        padding: 0 16px;
        gap: 20px;
    }
    .series_title {
        font-size: 20px;
    }
}