.recommendation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.recommendation_title {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.recommendation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 32px 0 52px;
}

@media screen and (max-width: 1025px) {
    .recommendation_list {
        width: 850px;
        gap: 30px;
    }
}

@media screen and (max-width: 769px) {
    .recommendation_title {
        font-size: 32px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .recommendation_list {
        gap: 30px;
        margin: 0 24px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    .recommendation_list {
        width: 480px;
        gap: 20px;
        margin: 0 10px;
    }

    .recommendation_title {
        font-size: 24px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 480px) {
    .recommendation_list {
        gap: 20px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 460px) {
    .recommendation_list {
        margin: 0 20px;
    }
}

@media screen and (max-width: 440px) {
    .recommendation_list {
        width: 420px;
        gap: 20px;
        margin: 0 15px;
    }

    .recommendation_title {
        font-size: 24px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 426px) {
    .recommendation_title {
        font-size: 22px;
        margin-left: 16px;
        margin-bottom: 20px;
    }

    .recommendation_list {
        gap: 20px;
        margin: 0 16px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 410px) {
    .recommendation_list {
        width: 380px;
        gap: 15px;
        margin: 0 15px;
    }
}

@media screen and (max-width: 400px) {
    .recommendation_list {
        width: 380px;
        gap: 35px;
        margin: 0 22px;
    }
}

@media screen and (max-width: 390px) {
    .recommendation_list {
        gap: 30px;
    }

}

@media screen and (max-width: 380px) {
    .recommendation_title {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .recommendation_list {
        flex-direction: column;
        gap: 40px;
        margin: 0 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 370px) {
    .recommendation_list {
        margin: 0 15px;
    }
}

@media screen and (max-width: 360px) {
    .recommendation_list {
        margin: 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .recommendation_list {
        margin: 0 20px;
    }
}

@media screen and (max-width: 340px) {
    .recommendation_title {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .recommendation_list {
        flex-direction: column;
        gap: 40px;
        margin: 0 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 330px) {
    .recommendation_list {
        margin: 0 15px;
    }
}

@media screen and (max-width: 320px) {
    .recommendation_title {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .recommendation_list {
        gap: 40px;
        margin: 0 16px;
        margin-bottom: 40px;
    }
}